In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier 
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn import metrics

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Note

* The joined_XX.csv is left joined in the SQL with code:
* SELECT * FROM df_XX
> LEFT JOIN X_initial
> ON df_XX.gameId = X_initial.gameId and df_XX.playId = X_initial.playId and df_XX.kickerId = X_initial.nflId
* Play description is droped for punt and field+extra before join, since there will be error when import into SQL sever
* The punt and filed+extra joined file have some redundant index, and currently all features not appropriate for the training is manually dropped (can improve further)
* Another improvement might on standardize which feature
* From the result, only kickoff and field+extra, which with only 2 mainly play result, have high accuracy. The punt play type with more play result

In [ ]:
joined_df = pd.read_csv(input())

# Drop records doesn't has data matched from tracking dataset
joined_df = joined_df.dropna(subset=['x']).reset_index()
joined_df.info()

/content/drive/MyDrive/NEU/Kaggle/joined_FE.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5981 entries, 0 to 5980
Data columns (total 46 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   level_0                 5981 non-null   int64
 1   Column_1                5981 non-null   int64
 2   gameId                  5981 non-null   int64
 3   playId                  5981 non-null   int64
 4   quarter                 5981 non-null   int64
 5   down                    5981 non-null   int64
 6   yardsToGo               5981 non-null   int64
 7   possessionTeam          5981 non-null   object
 8   specialTeamsPlayType    5981 non-null   object
 9   specialTeamsResult      5981 non-null   object
 10  kickerId                5981 non-null   float64
 11  returnerId              1 non-null      float64
 12  kickBlockerId           9 non-null      float64
 13  yardlineSide            5981 non-null   object
 14  yardlineNumber          5981 non-null   int64
 15  gameClock               5981 non-null   object
 16  penaltyCodes            30 non-null     object
 17  penaltyJerseyNumbers    30 non-null     object
 18  penaltyYards            30 non-null     float64
 19  preSnapHomeScore        5981 non-null   int64
 20  preSnapVisitorScore     5981 non-null   int64
 21  passResult              0 non-null      object
 22  kickLength              2625 non-null   float64
 23  kickReturnYardage       0 non-null      float64
 24  playResult              5981 non-null   int64
 25  absoluteYardlineNumber  5981 non-null   int64
 26  Column_1.1              5981 non-null   float64
 27  index                   5981 non-null   float64
 28  time                    5981 non-null   object
 29  x                       5981 non-null   float64
 30  y                       5981 non-null   float64
 31  s                       5981 non-null   float64
 32  a                       5981 non-null   float64
 33  dis                     5981 non-null   float64
 34  o                       5981 non-null   float64
 35  dir                     5981 non-null   float64
 36  event                   5981 non-null   object
 37  nflId                   5981 non-null   float64
 38  displayName             5981 non-null   object
 39  jerseyNumber            5981 non-null   float64
 40  position                5981 non-null   object
 41  team                    5981 non-null   object
 42  frameId                 5981 non-null   float64
 43  gameId.1                5981 non-null   float64
 44  playId.1                5981 non-null   float64
 45  playDirection           5981 non-null   object
dtypes: float64(20), int64(12), object(14)
memory usage: 2.1+ MB

In [ ]:
joined_df.head(3)

   level_0  Column_1      gameId  ...      gameId.1  playId.1  playDirection
0        0         2  2018090600  ...  2.018091e+09     658.0           left
1        1         6  2018090600  ...  2.018091e+09    1368.0           left
2        2         8  2018090600  ...  2.018091e+09    1587.0          right

[3 rows x 46 columns]

In [ ]:
# Data is inbalanced, mainly Return and Touchback
joined_df.groupby('specialTeamsResult').size()

specialTeamsResult
Blocked Kick Attempt       9
Kick Attempt Good       5361
Kick Attempt No Good     611
dtype: int64

# Kickoff

* Prepare data for fitting

In [ ]:
# Drop records with too many null
ml_kick = joined_df.drop(['gameId','playId','index','Column_1','playDescription','returnerId','penaltyCodes','penaltyJerseyNumbers','penaltyYards','kickReturnYardage','gameClock'], axis=1)
# Fill with '' since the dtype of column is object
ml_kick['yardlineSide'] = ml_kick['yardlineSide'].fillna('')
# Transform time format and convert to total seconds
ml_kick['time'] = pd.to_datetime(ml_kick['time'], format = '%M:%S.%f').dt.time
idx = pd.to_timedelta(ml_kick['time'].astype(str))
ml_kick['time'] = idx.dt.total_seconds()
ml_kick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14058 entries, 0 to 14057
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   quarter                 14058 non-null  int64
 1   down                    14058 non-null  int64
 2   yardsToGo               14058 non-null  int64
 3   possessionTeam          14058 non-null  object
 4   specialTeamsPlayType    14058 non-null  object
 5   specialTeamsResult      14058 non-null  object
 6   kickerId                14058 non-null  int64
 7   yardlineSide            14058 non-null  object
 8   yardlineNumber          14058 non-null  int64
 9   preSnapHomeScore        14058 non-null  int64
 10  preSnapVisitorScore     14058 non-null  int64
 11  kickLength              14058 non-null  int64
 12  playResult              14058 non-null  int64
 13  absoluteYardlineNumber  14058 non-null  int64
 14  time                    14058 non-null  float64
 15  x                       14058 non-null  float64
 16  y                       14058 non-null  float64
 17  event                   14058 non-null  object
 18  team                    14058 non-null  object
 19  playDirection           14058 non-null  object
dtypes: float64(3), int64(10), object(7)
memory usage: 2.1+ MB

* Classification

In [ ]:
# Use label encoder to transform categorical data
subset = ml_kick.loc[:,['possessionTeam','specialTeamsPlayType','specialTeamsResult','yardlineSide','event','team','playDirection']]
subset = subset.apply(LabelEncoder().fit_transform)
subset.head(3)

   possessionTeam  specialTeamsPlayType  ...  team  playDirection
0              25                     0  ...     1              1
1              25                     0  ...     1              0
2              25                     0  ...     1              0

[3 rows x 7 columns]

In [ ]:
# Standardize numerical data

ml_kick = ml_kick.drop(['possessionTeam','specialTeamsPlayType','specialTeamsResult','yardlineSide','event','team','playDirection'], axis=1)
norm = StandardScaler()
ml_kick = pd.DataFrame(norm.fit_transform(ml_kick),columns = ml_kick.columns)
ml_kick

        quarter  down  yardsToGo  ...      time         x         y
0     -1.231288   0.0        0.0  ... -1.332500 -1.545722  0.488535
1     -0.385439   0.0        0.0  ... -1.486171  1.564269 -0.517023
2      0.460409   0.0        0.0  ... -0.546976  1.549752 -0.509288
3      1.306258   0.0        0.0  ... -0.824510 -1.575564  0.296705
4     -1.231288   0.0        0.0  ... -1.509463 -1.625569  0.493176
...         ...   ...        ...  ...       ...       ...       ...
14053  1.306258   0.0        0.0  ... -0.450450  0.845648  1.682828
14054  1.306258   0.0        0.0  ... -0.450352  0.845648  1.689016
14055  1.306258   0.0        0.0  ... -0.450253  0.845648  1.696751
14056  1.306258   0.0        0.0  ... -0.450154  0.845648  1.706033
14057  1.306258   0.0        0.0  ... -0.450056  0.846455  1.715315

[14058 rows x 13 columns]

In [ ]:
# Concat numerical and encoded categorical data
ml_kick = pd.concat([ml_kick, subset], axis = 1)
ml_kick.head(3)

    quarter  down  yardsToGo  ...  event  team  playDirection
0 -1.231288   0.0        0.0  ...      0     1              1
1 -0.385439   0.0        0.0  ...      0     1              0
2  0.460409   0.0        0.0  ...      0     1              0

[3 rows x 20 columns]

In [ ]:
# Partition data
y = ml_kick['specialTeamsResult']
X = ml_kick.drop(['specialTeamsResult'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
# KNN clasification
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
knn_pred = knn.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, knn_pred))

Accuracy: 0.9739212897107634

In [ ]:
# RandomForest classification
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)
rf_pred = rf.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, rf_pred))

Accuracy: 0.9981033665244191

# Punt

In [ ]:
joined_df['time']

0       18:14.0
1       40:25.7
2       46:32.6
3       22:13.7
4       26:14.6
         ...
1861    17:03.8
1862    23:23.3
1863    41:22.6
1864    44:16.1
1865    55:43.9
Name: time, Length: 1866, dtype: object

* Prepar for fitting

In [ ]:
# Drop records with too many null
# 'returnerId'  '44029;46130'
ml_punt = joined_df.drop(['kickerId','Column_1.1','returnerId','level_0','index','Column_1','gameId','playId','kickBlockerId','penaltyCodes','penaltyJerseyNumbers','penaltyYards','passResult','kickReturnYardage','gameClock','frameId','gameId.1','playId.1'], axis=1)
ml_punt = ml_punt.drop(['s','a','dis','o','dir','displayName','jerseyNumber','position'], axis=1)
# Fill with '' since the dtype of column is object
ml_punt['yardlineSide'] = ml_punt['yardlineSide'].fillna('')
ml_punt['kickLength'] = ml_punt['kickLength'].fillna(0)
# Transform time format and convert to total seconds
ml_punt['time'] = pd.to_datetime(ml_punt['time'], format = '%M:%S.%f').dt.time
idx = pd.to_timedelta(ml_punt['time'].astype(str))
ml_punt['time'] = idx.dt.total_seconds()
ml_punt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1866 entries, 0 to 1865
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   quarter                 1866 non-null   int64
 1   down                    1866 non-null   int64
 2   yardsToGo               1866 non-null   int64
 3   possessionTeam          1866 non-null   object
 4   specialTeamsPlayType    1866 non-null   object
 5   specialTeamsResult      1866 non-null   object
 6   yardlineSide            1866 non-null   object
 7   yardlineNumber          1866 non-null   int64
 8   preSnapHomeScore        1866 non-null   int64
 9   preSnapVisitorScore     1866 non-null   int64
 10  kickLength              1866 non-null   float64
 11  playResult              1866 non-null   int64
 12  absoluteYardlineNumber  1866 non-null   int64
 13  time                    1866 non-null   float64
 14  x                       1866 non-null   float64
 15  y                       1866 non-null   float64
 16  event                   1866 non-null   object
 17  nflId                   1866 non-null   float64
 18  team                    1866 non-null   object
 19  playDirection           1866 non-null   object
dtypes: float64(5), int64(8), object(7)
memory usage: 291.7+ KB

In [ ]:
# Use label encoder to transform categorical data
subset = ml_punt.loc[:,['possessionTeam','specialTeamsPlayType','specialTeamsResult','yardlineSide','event','team','playDirection']]
subset = subset.apply(LabelEncoder().fit_transform)
subset.head(3)

   possessionTeam  specialTeamsPlayType  ...  team  playDirection
0              25                     0  ...     1              1
1              25                     0  ...     1              1
2               1                     0  ...     0              1

[3 rows x 7 columns]

In [ ]:
ml_punt = ml_punt.drop(['possessionTeam','specialTeamsPlayType','specialTeamsResult','yardlineSide','event','team','playDirection'], axis=1)
norm = StandardScaler()
ml_punt = pd.DataFrame(norm.fit_transform(ml_punt),columns = ml_punt.columns)
ml_punt

       quarter  down  yardsToGo  ...         x         y     nflId
0    -1.235080   0.0  -0.876376  ... -1.631561  1.565872  0.924634
1    -1.235080   0.0   1.500540  ... -0.824320  1.602326  0.924634
2    -0.324867   0.0   1.670320  ... -1.546808  0.942515 -0.614423
3    -0.324867   0.0  -0.197257  ...  1.009801  0.723794  0.924634
4    -0.324867   0.0  -0.197257  ... -1.099468 -1.273864 -0.614423
...        ...   ...        ...  ...       ...       ...       ...
1861  0.585346   0.0   1.500540  ...  1.516527 -1.007753  1.038180
1862  0.585346   0.0   0.651641  ... -0.334903  1.004486 -2.114708
1863  0.585346   0.0   1.160980  ... -0.738971  0.450392 -2.114708
1864  0.585346   0.0  -0.706597  ...  1.208254 -0.985881  1.038180
1865  1.495559   0.0  -1.385716  ... -0.637805  1.044585  1.038180

[1866 rows x 13 columns]

In [ ]:
# Concat numerical and encoded categorical data
ml_punt = pd.concat([ml_punt, subset], axis = 1)
ml_punt.head(3)

    quarter  down  yardsToGo  ...  event  team  playDirection
0 -1.235080   0.0  -0.876376  ...      0     1              1
1 -1.235080   0.0   1.500540  ...      0     1              1
2 -0.324867   0.0   1.670320  ...      0     0              1

[3 rows x 20 columns]

In [ ]:
# Partition data
y = ml_punt['specialTeamsResult']
X = ml_punt.drop(['specialTeamsResult'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
# KNN clasification
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
knn_pred = knn.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, knn_pred))

Accuracy: 0.375

In [ ]:
# RandomForest classification
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)
rf_pred = rf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, rf_pred))

Accuracy: 0.5892857142857143

# Field Goal + Extra Point

In [ ]:
# Drop records with too many null
# 'returnerId'  '44029;46130'
ml_FE = joined_df.drop(['kickerId','gameId','playId','returnerId','level_0','index','Column_1','kickBlockerId','penaltyCodes','penaltyJerseyNumbers','penaltyYards','passResult','kickReturnYardage','time','frameId','gameId.1','playId.1','Column_1.1'], axis=1)
ml_FE = ml_FE.drop(['s','a','dis','o','dir','displayName','jerseyNumber','position'], axis=1)
# Fill with '' since the dtype of column is object
ml_FE['yardlineSide'] = ml_FE['yardlineSide'].fillna('')
ml_FE['kickLength'] = ml_FE['kickLength'].fillna(0)
# Transform time format and convert to total seconds
ml_FE['gameClock'] = pd.to_datetime(ml_FE['gameClock'], format = '%M:%S:%f').dt.time
idx = pd.to_timedelta(ml_FE['gameClock'].astype(str))
ml_FE['gameClock'] = idx.dt.total_seconds()
ml_FE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5981 entries, 0 to 5980
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   quarter                 5981 non-null   int64
 1   down                    5981 non-null   int64
 2   yardsToGo               5981 non-null   int64
 3   possessionTeam          5981 non-null   object
 4   specialTeamsPlayType    5981 non-null   object
 5   specialTeamsResult      5981 non-null   object
 6   yardlineSide            5981 non-null   object
 7   yardlineNumber          5981 non-null   int64
 8   gameClock               5981 non-null   float64
 9   preSnapHomeScore        5981 non-null   int64
 10  preSnapVisitorScore     5981 non-null   int64
 11  kickLength              5981 non-null   float64
 12  playResult              5981 non-null   int64
 13  absoluteYardlineNumber  5981 non-null   int64
 14  x                       5981 non-null   float64
 15  y                       5981 non-null   float64
 16  event                   5981 non-null   object
 17  nflId                   5981 non-null   float64
 18  team                    5981 non-null   object
 19  playDirection           5981 non-null   object
dtypes: float64(5), int64(8), object(7)
memory usage: 934.7+ KB

In [ ]:
# Use label encoder to transform categorical data
subset = ml_FE.loc[:,['possessionTeam','specialTeamsPlayType','specialTeamsResult','yardlineSide','event','team','playDirection']]
subset = subset.apply(LabelEncoder().fit_transform)
subset.head(3)

   possessionTeam  specialTeamsPlayType  ...  team  playDirection
0               1                     1  ...     0              0
1              25                     1  ...     1              0
2               1                     1  ...     0              1

[3 rows x 7 columns]

In [ ]:
ml_FE = ml_FE.drop(['possessionTeam','specialTeamsPlayType','specialTeamsResult','yardlineSide','event','team','playDirection'], axis=1)
norm = StandardScaler()
ml_FE = pd.DataFrame(norm.fit_transform(ml_FE),columns = ml_FE.columns)
ml_FE

       quarter      down  yardsToGo  ...         x         y     nflId
0    -1.414076  1.178398  -0.040187  ... -1.597108 -2.220022 -3.314364
1    -0.472985  1.178398   1.019604  ... -1.386668 -2.068721  1.442755
2    -0.472985  1.178398   2.927230  ...  0.069573  0.438548 -3.314364
3     0.468107 -0.869397  -0.676063  ... -1.094057 -0.858315  1.442755
4     1.409198 -0.869397  -0.676063  ... -1.104078 -0.876327 -3.314364
...        ...       ...        ...  ...       ...       ...       ...
5976 -0.472985 -0.869397  -0.676063  ... -1.112095 -2.065119  1.461650
5977  0.468107 -0.869397  -0.676063  ... -1.112496  0.543018 -3.784088
5978  1.409198  1.178398   2.079396  ...  0.482034 -0.786267 -3.784088
5979  1.409198  1.178398   1.867438  ... -0.225042 -2.083131  1.461650
5980  1.409198  0.154501   2.079396  ...  0.841184 -0.905146 -3.784088

[5981 rows x 13 columns]

In [ ]:
# Concat numerical and encoded categorical data
ml_FE = pd.concat([ml_FE, subset], axis = 1)
ml_FE.head(3)

    quarter      down  yardsToGo  ...  event  team  playDirection
0 -1.414076  1.178398  -0.040187  ...      0     0              0
1 -0.472985  1.178398   1.019604  ...      0     1              0
2 -0.472985  1.178398   2.927230  ...      0     0              1

[3 rows x 20 columns]

In [ ]:
# Partition data
y = ml_FE['specialTeamsResult']
X = ml_FE.drop(['specialTeamsResult'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
# KNN clasification
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
knn_pred = knn.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, knn_pred))

Accuracy: 0.9793871866295265

In [ ]:
# RandomForest classification
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)
rf_pred = rf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, rf_pred))

Accuracy: 0.9949860724233983